<html>
  <head>
    <title>Contacts List</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" /> 
  </head>

  <body>
    <h1>Contacts</h1>
    <hr>  
    <div id="add-contacts">
    <h2> Add Contacts</h2>
      <form>
        <label>Name</label> </br>
        <input type="text" name="item"></br>
        <label>Phone</label></br>
        <input type="text" name="item"></br>
        <label>Address</label></br>
        <input type="text" name="item">
      </form>
    </div>
    <hr>
    <div id="show-contacts">
      
      <ul>
        <li>
          <div>
            <h3>Name: John Doe</h3>
            <h4>Phone Number: 416 909 2322
            <p>Address: </p>
          </div>
        </li>
        <li>
          <div>
            <h3>Name: John Doe</h3>
            <h4>Phone Number: 416 909 2322
            <p>Address: </p>
          </div>
        </li>
        <li>
          <div>
            <h3>Name: John Doe</h3>
            <h4>Phone Number: 416 909 2322
            <p>Address: </p>
          </div>
        </li>
      </ul>
      
    </div>
  </body>

</html>
  